---
extends: default

rules:
  line-length:
    max: 300
    level: warning
  truthy: disable
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

ignore: |
  .github/workflows/ci.yml
  .github/workflows/daily.yml
  script/config.yaml
