[Unit]
Description=Lighthouse Beacon Node (ETH2)
Wants=network-online.target
After=network-online.target
ConditionPathExists={{ data_dir }}

[Service]
Type=simple
User={{ user }}
Group={{ group }}
Restart=on-failure
RestartSec=5
ExecStart={{ base_path }}/bin/lighthouse bn \
    --datadir {{ data_dir }} \
    --network mainnet \
    --metrics \
    --metrics-address 0.0.0.0

[Install]
WantedBy=multi-user.target